{block content}
	<div class="container">
		<div class="everything-wrapper">
			Vážená zákaznice / Vážený zákazníku, <br>
			je nám to velice líto, ale z důvodu technických problémů nyní nemůžeme přijmout Vaši objednávku. Problémy by však neměly mít dlouhého trvání, takže s námi prosím mějte trpělivost a zkuste objednávku za pár hodin odeslat znovu. Zboží v košíku zůstane uložené po dobu asi dvou týdnů.
			<br><br>
			Porucha není na vašem přijímači.
		</div>
	</div>
	