{block content}
	<div class="container">
		<div class="everything-wrapper">
			<h1>Děkujeme za Váš nákup!</h1>
			
			E-mailem od nás obdržíte potvrzení objednávky spolu s fakturou.
			<br><br>
			<a class="link-with-arrow" n:href="Homepage:default">< Zpět k nakupování</a>
		
		</div>
	</div>