table.crud-table{
	border: 1px solid #5edfff;
	border-collapse: collapse;
	/*max-width: 200vh; /*jen tak na zkoušku, případně odstranit*/
	margin: 1em auto;
	overflow-x: scroll;
	width: 95%;
}

table.crud-table > thead{
	font-weight: 600;
	text-align: center;
}

table.crud-table td{
	border: 1px solid #5edfff;
}

table.crud-table > tbody td:last-child{
	text-align: center;
}

table.crud-table > tbody > tr:hover{
	background-color: #ecfcff;
}

a.crud{
	border-radius: 10px;
	color: #fff;
	font-style: inherit;
	padding: .2em .7em;
	text-decoration: none;
}

a.crud-new{
	background-color: #00ac05;
}

a.crud-new:hover{
	background-color: #00f605;
}

a.crud-edit{
	background-color: #00dede;
}

a.crud-edit:hover{
	background-color: #73dede;
}

a.crud-delete{
	background-color: #ff0707;
}

a.crud-delete:hover{
	background-color: #ff7573;
}

p.nothing-found{
	display: block;
	font-size: 1.5em;
}

#actions{
	width: 15%;
}