div.footer{
	background-color: #fff;
	border-top: 1px solid #b5dde5;
	box-sizing: border-box;
	clear: both;
	margin: 0 auto;
	padding: 0.5em 2em 0.5em;
	text-align: center;
	/* padding: 0.75em 0em; */
	width: 85%;
}

#retaska_logo_sm {
	float: right;
	width: 10%;
}