div.navbar{
	display: block;
	margin: 0;
	padding: 0;
	z-index: 1;
}

div.navbar-fixed{
	left: 0; /* bez tohoto je celé vpravo; nutnost pokud position: fixed*/
	position: fixed;
	right: 0; /* bez tohoto je celé vlevo; nutnost pokud position: fixed*/
	top: 0; /*bez tohoto je navbar centimetr od horního okraje; nutnost pokud position: fixed */
	width: auto; /*bez tohoto je to moc široké, margin 0 auto nepomůže (proto je tady margin jen 0); jedná se však spíše o maximální šířku, s minimální požadovanou šířkou to nepomůže*/
}

div.navbar > ul{
	margin: 0;
}

div.navbar > ul.navigation{
	background-color: #3e64ff;
	color: #ecfcff;
	padding: 1em 1em;
}

div.navbar > ul.user-info{
	background-color: black;
	color: white;
	padding: .2em 1em;
}

div.navbar li { /*toto funguje skvěle*/
	display: inline-block;
	text-decoration: none;
	padding: 0 .5em;
}

div.navbar-admin li{
	font-size: .95em;
}

li a { /*inherit tedy slouží k tomu, aby se přebil user ager stylesheet (v tomto případě u odkazů), ale abychom nemuseli znovu přepisovat to samé */
	color: inherit;
	text-decoration: inherit;
}

div.navbar a.active{
	color: #b2fcff;
}

div.navbar li.right {
	float: right;
}

@media(max-width: 1535px){
	div.navbar{
		line-height: 1.5em;
		padding: 0.5em 1em;
	}
	
	div.navbar li{
		display: inline-block;
		padding: .5em auto; 
	}
}


@media(max-width: 1000px){
	div.navbar{
		text-align: center;
	}
	
	div.navbar li{
		padding: 0 auto;
	}
	
	div.navbar li.right {
		float: inherit;
	}
	
}
