.step-link-wrapper{
	border: 2px solid #b2fcff;
	margin: 0 auto;
	width: 90%;
}

.step-link-wrapper-not-clickable{
	border: 2px solid #ddd;
}

.step-link-wrapper:hover{
	background-color: #ecfcff;
}

.step-link-wrapper-current{
	background-color: white;
}

.step-link-wrapper-current:hover{
	background-color: white;
}

.step-link-wrapper-not-clickable:hover{
	background-color: white;
}

.step-link-number{
	background-color: #3e64ff;
	color: white;
	display: inline-block;
	font-size: 1.2em;
	margin: -.09em;
	text-align: center;
	padding: .3em .2em;
	width: 35px;
}

.step-link-number-current{
	background-color: #b2fcff;
	color: #3e64ff;
}

.step-link-number-not-clickable{
	background-color: #ddd;
}

.step-link-text{
	padding-left: .5em;
}

.step-link-text-not-clickable{
	color: #ddd;
}

a.step-link{
	text-decoration: none;
}
