parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\Modules\*\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter
	categoryRepository: App\Services\Repository\CategoryRepository
	entityRepository: App\Services\Repository\EntityRepository
	productRepository: App\Services\Repository\ProductRepository
	countryRepository: App\Services\Repository\CountryRepository
	paymentRepository: App\Services\Repository\PaymentRepository
	deliveryRepository: App\Services\Repository\DeliveryRepository
	deliveryCountryPaymentPricesRepository: App\Services\Repository\DeliveryCountryPaymentPricesRepository
	iProductsOnFrontendControlFactory: 
		implement: App\Controls\Front\Factory\IProductsOnFrontendControlFactory
		setup: 
			- $productsPerPageBaseValue = 8
			- $maxProductsPerPage = 64
	paginator: Nette\Utils\Paginator
	basketService: App\Services\BasketService
	deliveryCountryPaymentPricesArrayGenerator: App\Services\DeliveryCountryPaymentPricesArrayGenerator
	purchaseStatusRepository: App\Services\Repository\PurchaseStatusRepository
	purchaseRepository: App\Services\Repository\PurchaseRepository
	purchaseItemRepository: App\Services\Repository\PurchaseItemRepository
	productFactory: App\Entity\Factory\ProductFactory
	purchaseFactory: App\Entity\Factory\PurchaseFactory
	purchaseItemFactory: App\Entity\Factory\PurchaseItemFactory
	deliveryCountryPaymentPricesFactory: App\Entity\Factory\DeliveryCountryPaymentPricesFactory
	categoryFactory: App\Entity\Factory\CategoryFactory
	countryFactory: App\Entity\Factory\CountryFactory
	customerDataFactory: App\Entity\Factory\CustomerDataFactory
	deliveryFactory: App\Entity\Factory\DeliveryFactory
	entityFactory: App\Entity\Factory\EntityFactory
	paymentFactory: App\Entity\Factory\PaymentFactory
	purchaseStatusFactory: App\Entity\Factory\PurchaseStatusFactory
	roleFactory: App\Entity\Factory\RoleFactory
	roleRepository: App\Services\Repository\RoleRepository
	userDataFactory: App\Entity\Factory\UserDataFactory
	userDataRepository: App\Services\Repository\UserDataRepository
	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
	myAuthenticator: App\Services\MyAuthenticator
	- App\Services\MyAuthorizator::create
	iEmptyTablesWarning:
		implement: App\Controls\Admin\Factory\IEmptyTablesWarningFactory
	databaseReadinessChecker: App\Services\DatabaseReadinessChecker
