parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\Modules\*\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter
	categoryRepository: App\Services\Repository\CategoryRepository
	entityRepository: App\Services\Repository\EntityRepository
	productRepository: App\Services\Repository\ProductRepository
	countryRepository: App\Services\Repository\CountryRepository
	iProductsOnFrontendControlFactory: 
		implement: App\Controls\Front\Factory\IProductsOnFrontendControlFactory
		setup: 
			- $productsPerPageBaseValue = 8
			- $maxProductsPerPage = 64
	paginator: Nette\Utils\Paginator
	basketService: App\Services\BasketService