{block content}
	<h1 class="middle"> Kategorie </h1>
	
	<table class="crud-table">
		<thead>
			<tr>
				<td>
					ID
				</td>
				<td>
					Název
				</td>
				<td id="actions">
					Možnosti
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					ID
				</td>
				<td>
					Název
				</td>
				<td>
					Možnosti
				</td>
			</tr>
			<tr>
				<td>
					ID
				</td>
				<td>
					Název
				</td>
				<td>
					Možnosti
				</td>
			</tr>
		</tbody>
	</table>