{block content}
	<ul class="navbar navbar-fixed">
		<li><a href="{plink Homepage:default}">Hlavní stránka</a></li>
		<li><a href="{plink Product:default}">Prohlídka zboží</a></li>
		<li>+420 777 888 999</li>
		<li class="right"> <a href="{plink Basket:default}">Košík</a></li>
	</ul>
	