{block content}
	<div class="navbar navbar-fixed">
		<ul class="navigation">
			<li><a href="{plink Homepage:default}">Hlavní stránka</a></li>
			<li><a href="{plink Product:default}">Prohlídka zboží</a></li>
			<li>+420 777 888 999</li>
			<li class="right"> <a href="{plink Basket:default}">Košík</a></li>
		</ul>
	</div>
	