{block content}
	<div>
		Počet produktů na stránce: 
		{for $i = $productsPerPageBaseValue; $i <= $maxProductsPerPage; $i *= 2}
			<a href="{plink $currentPresenterAndAction, $page, $i}"> {$i} </a>
		{/for}
	</div>
	<div class="product-preview-wrapper">
		<div class="row">
			{foreach $products as $product}
				<div class="product-preview">
					<p class="product-heading">{$product->getName()}</p>
					<p class="product-price">
						{$product->getCategory()->getName()}<br>
						{$product->getPrice()} Kč <br>							
						<a class="button-detail" href="#">Detail produktu</a>
					</p>
				</div>
			{/foreach}
		</div>
	</div>
	<div class="pages">
		{for $i = 1; $i <= $maxPages; $i++}
			<span class="button-group">
				{var $buttonCssClass = "page-button"}
				{if $i === $page}
					{var $buttonCssClass .= " page-button-active"}
				{/if}
				<a class="{$buttonCssClass}" href="{plink $currentPresenterAndAction, $i, $itemsPerPage}"> {$i} </a>
			</span>
		{/for}
	</div>