{block content}
	<div class="product-preview-wrapper">
		<div>
			Počet produktů na stránce: 
			{for $i = $productsPerPageBaseValue; $i <= $maxProductsPerPage; $i *= 2}
				<a n:href="changeProductsPerPage! $i"> {$i} </a>
			{/for}
		</div>
		<div class="row">
			{foreach $products as $product}
				<div class="product-preview">
					<p class="product-heading">{$product->getName()}</p>
					<p class="product-price">
						{$product->getCategory()->getName()}<br>
						{if fmod($product->getPrice(), 1) != 0}
							{$product->getPrice()|number:2:',':' '}
						{else}
							{$product->getPrice()}
						{/if} 
						Kč / ks <br>							
						<a class="button-detail" href="{plink Product:detail, $product->getId() . ' ' . $product->getName()}">Detail produktu</a>
					</p>
				</div>
			{/foreach}
		</div>
	</div>
	<div class="pages">
		{for $i = 1; $i <= $maxPages; $i++}
			<span class="button-group">
				{var $pageButtonCssClass = "page-button"}
				{if $i === $page}
					{var $pageButtonCssClass .= " page-button-active"}
				{/if}
				<a class="{$pageButtonCssClass}" n:href="changePage!, $i"> {$i} </a>
			</span>
		{/for}
	</div>