{block content}
	<div class="row">
		<div class="re33">
			<a class="step-link" {if $hrefs['basket']} href="{plink Basket:default}" {/if}>
					<div class="step-link-wrapper {$basketLinkClasses['wrapper']}">
						<span class="step-link-number {$basketLinkClasses['number']}">
							1
						</span>
						<span class="step-link-text {$basketLinkClasses['text']}">
							Košík
						</span>
					</div>
				</a>
		</div>
		<div class="re33">
			<a class="step-link" {if $hrefs['customerData']} href="{plink FinishPurchase:default}" {/if}>
				<div class="step-link-wrapper {$customerDataLinkClasses['wrapper']}">
					<span class="step-link-number {$customerDataLinkClasses['number']}">
						2
					</span>
					<span class="step-link-text {$customerDataLinkClasses['text']}">
						Osobní a doručovací údaje
					</span>
				</div>
			</a>
		</div>
		<div class="re33">
			<a class="step-link" {if $hrefs['purchaseRecap']} href="{plink FinishPurchase:purchaseRecap}" {/if}>
				<div class="step-link-wrapper {$purchaseRecapClasses['wrapper']}">
					<span class="step-link-number {$purchaseRecapClasses['number']}">
						3
					</span>
					<span class="step-link-text {$purchaseRecapClasses['text']}">
						Rekapitulace objednávky
					</span>
				</div>
			</a>
		</div>
	</div>
	