{block content}
	<div class="container">
		<h1 class="middle">Přihlásit se do administrace</h1>
		<div class="everything-wrapper">
			<div class="sign-in-form-wrapper">
				{control signInForm}
			</div>
		</div>	
	</div>
