{block content}
	{if $warnings != []}
		<div class="warning-wrapper">
			<p class="warning-heading">Upozornění</p>
			<ul>
				{foreach $warnings as $warning}
					<li class="warning-paragraph"> {$warning} </li>
				{/foreach}	
			</ul>
		</div>
	{/if}
	