{block contect}
	<ul class="navbar navbar-fixed">
		<li><a class="{$linksCssClasses['Admin:Homepage']}" href="{plink Homepage:default}">Hlavní stránka</a></li>
		<li><a class="{$linksCssClasses['Admin:Category']}" href="{plink Category:default}">Správa kategorií</a></li>
		<li><a class="{$linksCssClasses['Admin:Entity']}" href="{plink Entity:default}">Správa entit</a></li>
		<li><a class="{$linksCssClasses['Admin:Product']}" href="{plink Product:default}">Správa zboží</a></li>
		<li><a class="{$linksCssClasses['Admin:Country']}" href="{plink Country:default}">Správa států</a></li>
		<li><a class="{$linksCssClasses['Admin:Payment']}" href="{plink Payment:default}">Správa druhů plateb</a></li>
		<li><a class="{$linksCssClasses['Admin:Delivery']}" href="{plink Delivery:default}">Správa možností dopravy</a></li>
		<li class="right"><a href="{plink :Front:Homepage:default}">Přejít do e-shopu</a></li>
	</ul>
	