{block contect}
	<div n:if="$user->loggedIn" class="navbar navbar-admin navbar-fixed">
		<ul class="user-info">
			<li>Přihlášený uživatel: {$user->identity->username}</li>
			<li><a href="{plink MyAccount:default}">Správa mého účtu</a></li>
			<li class="right"><a href="{plink Sign:out}">Odhlásit se</a></li>
		</ul>
		<ul class="navigation">
			<li><a class="{$linksCssClasses['Admin:Homepage']}" href="{plink Homepage:default}">Hlavní stránka</a></li>
			<li><a class="{$linksCssClasses['Admin:Purchase']}" href="{plink Purchase:default}">Objednávky</a></li>
			<li><a class="{$linksCssClasses['Admin:Product']}" href="{plink Product:default}">Správa zboží</a></li>
			<li><a class="{$linksCssClasses['Admin:Category']}" href="{plink Category:default}">Správa kategorií</a></li>
			<li><a class="{$linksCssClasses['Admin:Country']}" href="{plink Country:default}">Správa států</a></li>
			<li><a class="{$linksCssClasses['Admin:Delivery']}" href="{plink Delivery:default}">Správa možností dopravy</a></li>
			<li><a class="{$linksCssClasses['Admin:Payment']}" href="{plink Payment:default}">Správa druhů plateb</a></li>
			<li><a class="{$linksCssClasses['Admin:DeliveryCountryPaymentPrices']}" href="{plink DeliveryCountryPaymentPrices:default}">Správa dopravních služeb</a></li>
			<li><a class="{$linksCssClasses['Admin:PurchaseStatus']}" href="{plink PurchaseStatus:default}">Správa stavů objednávek</a></li>
			<li><a class="{$linksCssClasses['Admin:Entity']}" href="{plink Entity:default}">Správa entit</a></li>
			<li><a class="{$linksCssClasses['Admin:UserData']}" href="{plink UserData:default}">Správa uživatelů</a></li>
			<li><a class="{$linksCssClasses['Admin:Role']}" href="{plink Role:default}">Správa oprávnění</a></li>
			<li class="right"><a href="{plink :Front:Homepage:default}">Přejít do e-shopu</a></li>
		</ul>
	</div>
	