{block content}
	<div class="container">
		<div class="everything-wrapper">
			<h1>Nastavit původní stav pro nové objednávky</h1>
			{control pickNewDefaultStatusForm}
			<a class="link-with-arrow" n:href="PurchaseStatus:default"> Zpět na přehled</a>
		</div>
	</div>

	