{block content}
	<div class="container">
		<div class="everything-wrapper">
			<a class="link-with-arrow" n:href="MyAccount:default"> < Zpět na správu účtu </a>
			<br>
			{control changePasswordForm}
		</div>	
	</div>
	