{define footer}
	<div class="footer">
		<div class="row">
			<div class="re33">
			</div>
			<div class="re33">
				© Oliver Zelený
			</div>
			<div class="re33">
				+420 777 888 999
				<img src="{$basePath}\images\re-taska_logo.png" alt="re-taska-logo" id="retaska_logo_sm">
			</div>
		</div>
	</div>
{/define}
	